

.square {
    border: 1px solid black;
    font: 25px bold, sans-serif;
    text-align: center;
    line-height: 50px;
    float: left;
    height: 50px;
    width: 50px;
}

#board {
    border: 1px solid black;
    width: 156px;
    height: 156px;
    float: left;
}

#info-area{
    margin-left: 156px;
}

#history ul{
    padding-left: 30px;
    list-style-type: disc
}